@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font */
@font-face {
  font-family: "Onix";
  src: url("./fonts/open-sauce.one-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onix";
  src: url("./fonts/open-sauce.one-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onix";
  src: url("./fonts/open-sauce.sans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    position: relative;
    min-width: 504px;
    height: 228px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container .background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.header-container .logo {
    position: absolute;
    aspect-ratio: auto;
    width: 230px;
}

.about-us {
    position: absolute;
    width: 477px;
    height: auto;
    background-color: #F5F5F5;
    top: 242px;
    border-radius: 13px;
}

.about-us p {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
}